<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"></script>

  <title>Heim - OSS AS</title>
</head>

<body>
  <header>
    <nav>
      <ul class="navlinks">
        <li>
          <a href="/home" class="active">
            <i class="fas fa-home"></i> Heim
          </a>
        </li>
        <li>
          <a href="/profile">
            <i class="fas fa-user"></i> Min profil
          </a>
        </li>
        <% if (admin) { %>
          <li>
            <a href="/admin"> <i class="fas fa-cogs"></i> Admin </a>
          </li>
          <% } %>
            <li>
              <a href="/logout">
                <i class="fas fa-sign-out-alt"></i> Logg ut
              </a>
            </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container">
      <h1>IMDb Top 10 Movies</h1>
      <div class="movie-list">
        <% movies.forEach(movie=> { %>
          <div class="movie-card">
            <img src="<%= movie.image_url %>" alt="<%= movie.tittel %> poster" class="movie-poster">
            <h2>
              <%= movie.tittel %> (<%= movie.årstall %>)
            </h2>
            <p><strong>Director:</strong>
              <%= movie.regissør %>
            </p>
            <p><strong>IMDb Rating:</strong>
              <%= movie.rating %> ⭐
            </p>
            <p><strong>Genre:</strong>
              <%= movie.sjanger %>
            </p>
          </div>
          <% }) %>
      </div>
    </div>
  </main>
</body>
</html>